h1,h4 {
    color:rgb(0, 114, 106);
    font-weight: bold;
    
  }
  
  h5 {
    color:black;
    font-weight: bold;
    text-decoration-line: underline;
  }

  .buttons-right>button {
    float: right;
    margin: 5px;
  }
  .app-container {
    padding: 25px;
    background-color:white;
    
    
  }
  
  .percentage-number {
    color: rgb(0,114,106);
    font-size: 50px;
    font-weight: bold;
  }
  .percentage-sign {
    color: rgb(60, 114, 106);
    font-size: 40px;
  }
  .percentage-container {
    text-align: center;
  }
  .percentage-container:first-child {
    padding-bottom: 3em;
  }
  .container .row div {
    outline: solid 1px black;
  }

  